.contentTable thead tr th{
    font-weight: 400;
    color: var(--c-gray-400);
    text-align: left;
}

.contentTable tbody tr td {
    padding: 1vh 0;
}

.contentTable tbody tr td:last-child {
    width: 4vw;
}

.contentTable table {
    width: 100%;
    margin-top: 2vh;
}

.buttons {
    display: flex;
    align-items: center;
    gap: .5vw;
}

.search {
    display: flex;
    gap: 1vw;
}

.search button span{
    width: max-content !important;
}