.header {
    background-color: var(--c-blue-500);
    width: 100%;
    height: 20vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.allCategories {
    display: flex;
    gap: 1vw;
    padding: 1vh 0;
}

.allCategories .categoryCard {
    padding: 1vh 1vw;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--c-gray-700);
}

.allProducts {
    margin-top: 1vh;
}

.allCategories .categoryCard:hover {
    outline: 2px solid var(--c-blue-500);
}


section {
    display: flex;
    flex-direction: column;
}

section h3 {
    font-size: 1.7em;
}

.container {
    padding: 5vh 0;
}

.allProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}