.background {
    width: 100%;
    height: 100vh;
    background-color: var(--c-background-modal);
    position: fixed;
    top: 0;
    left: 0;
}

.background .modal {
    width: 25vw;
    position: absolute;
    height: -webkit-fill-available;
    right: 0;
    display: flex;
    padding: 1vw;
    background-color: #1f1f1f;
    flex-direction: column;
}

.modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.modal .card {
    border: var(--c-gray-700) solid 1px;
    padding: .5vw;
    border-radius: 10px;
    position: relative;
}

.modal .card .deletebtn {
    position: absolute;
    top: 1vh;
    right: 1vh;
}

.noItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.noItems i {
    font-size: 2em;
}

.modal .card .priceAmount {
    display: flex;
    justify-content: space-between;
}

.modal .card .unitPrice {
    font-size: .7em;
    color: var(--c-gray-400);
}

.allProducts {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 65vh;
    overflow: auto;
}


.reckoning {
    margin-top: 2vh;
    padding: 2vh 0;
    border-top: 1px solid var(--c-gray-400);
}

.reckoning .list {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.reckoning .list#finalle span {
    font-size: 1.3em;
}

.reckoning .list i {
    color: var(--c-blue-500) !important;
}

.reckoning .allButtons {
    display: flex;
    align-items: center;
    gap: .5vw;
    margin-top: 2vh;
    justify-content: flex-end;
}

.reckoning .list div {
    display: flex;
    gap: .5vw;
    align-items: center;
}

.modalLoader {
    height: 20vh;
    width: 20vw;
    top: 30%;
    left: 39%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    background-color: var(--c-gray-800);
    flex-direction: column;
    gap: 5vh;
}

.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--c-green-500);
    box-shadow: -20px 0px, 20px 0px;
    animation: l18 1s infinite;
}

.modalFinish .header {
    width: 100%;
}

.modalFinish {
    background-color: var(--c-gray-800);
    width: 25vw;
    border: 1px solid var(--c-gray-900);
    left: 35%;
    padding: 1vw;
    border-radius: 10px;
    top: 30%;
    position: absolute;
}

.contentModal {
    height: 26vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentModal i {
    margin-bottom: 2vh;
    font-size: 6em;
}

.amount {
    display: flex;
    align-items: center;
    gap: 1vw;
}


@keyframes l18 {

    25% {
        box-shadow: -20px -20px, 20px 20px
    }

    50% {
        box-shadow: 0px -20px, 0px 20px
    }

    75% {
        box-shadow: 20px -20px, -20px 20px
    }

    100% {
        box-shadow: 20px 0px, -20px 0px
    }
}