.sidebar {
    display: flex;
    flex-direction: column;
    width: 12vw;
}


.options {
    display: flex;
    flex-direction: column;
}

.moreOptions {
    display: flex;
    margin-left: 1vw;
    flex-direction: column;
}

.moreOptions a {
    cursor: pointer;
}

.sidebar ul {
    list-style: none;
}


.liStyle:hover  {
    cursor: pointer;
    transition: .3s all ease-in-out;
    margin-left: .5vw;
}

.liStyle:hover * {
    color: var(--c-gray-100) !important;
}

.liStyle a, .liStyle {
    display: flex;
    align-items: center;
    gap: .5vw;
}

.liStyle i {
    color: var(--c-gray-300)
}



.dropdown {
    margin-left: 1.4vw;
    display: flex;
    flex-direction: column;
}