.card {
    padding: 1vw;
    border-radius: 10px;
    min-width: 20vw;
    background-color: var(--c-gray-700);
    cursor: pointer;
}

.allCards {
    display: flex;
    gap: 1vw;
    padding: 2vh 0;
    flex-direction: row;
    max-width: 67vw;
    overflow-x: auto;
}

.allCards::-webkit-scrollbar {
    height: 5px !important;
}

.card:hover {
    transform: translateY(-5px);
}

.card .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mainNav {
    margin-bottom: 2vh;
}

.mainNav ul {
    list-style: none;
    display: flex;
}

.mainNav ul li {
    padding: 0 .7vw .7vw .7vw;
}

.searchAll .search h2 {
    font-size: 1.4em;
    font-weight: 500;
}

.searchAll .search h2 span {
    font-size: .7em;
    margin-left: .5vw;
}

.inputButton {
    display: flex;
    gap: 1vw;
    margin-top: .5vh;
}


.background {
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.623);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: var(--c-gray-800);
    height: 80vh;
    width: 30vw;
    overflow: hidden;
    border-radius: 10px;
}

.modal .header,
.modal .contentModal {
    padding: 1vw;
}

.modal .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--c-gray-700);
}

.modal .header div {
    display: flex;
    align-items: center;
    gap: .5vw;
}

.modal ul {
    list-style: none;
}

.modal .moreInfo h3 {
    font-size: 2em;
}

.moreInfo ul li {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.moreInfo ul li a {
    color: var(--c-gray-100)
}

.dot {
    width: 5px;
    height: 5px;
    background-color: green;
    border-radius: 50%;
}

.state {
    background-color: rgba(0, 128, 0, 0.363);
    display: flex;
    align-items: center;
    gap: .5vw;
    padding: 0.1vh .7vw;
    border-radius: 10px;
}

.moreInfo ul li a:hover {
    text-decoration: underline;
}

.modal .description {
    margin-top: 3vh;
}

.tabs {
    border-radius: 15px;
    padding: .5vw;
    height: 5vh;
    background-color: var(--c-gray-600);
    margin-top: 3vh;
}

.tabs ul {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.tabs ul li {
    cursor: pointer;
}

#active {
    background-color: var(--c-gray-800);
    padding: 1vh;
    width: max-content;
    border-radius: 10px;
}

.productsRelacionados {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 2vh 0;
    overflow: scroll;
    height: 36vh;
}